
$clr-primary-Nutmeg: hsl(14, 45%, 36%);
$clr-primary-Dark-Raspberry: hsl(332, 51%, 32%);

$clr-neutral-White: hsl(0, 0%, 100%);
$clr-neutral-Rose-White: hsl(330, 100%, 98%);
$clr-neutral-Eggshell: hsl(30, 54%, 90%);
$clr-neutral-Light-Grey: hsl(30, 18%, 87%);
$clr-neutral-Wenge-Brown: hsl(30, 10%, 34%);
$clr-neutral-Dark-Charcoal: hsl(24, 5%, 18%);


$ff-young-serif:  "Young Serif", serif;
$ff-outfit: "Outfit", sans-serif;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
